 
 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
 *{
    font-family: 'Mulish', sans-serif;
 }
 
 .group-1 {
    position: absolute;
    inset: 0;
  }
  .nav-text {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    gap: 44px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - -87px);
    top: 53px;
  }
  .home {
    color: #ff5400;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    position: relative;
  }
  .packages {
    color: var(--dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    position: relative;
  }
  .testimonial {
    color: var(--dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    position: relative;
  }
  .blog {
    color: var(--dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    position: relative;
  }
  .contact {
    color: var(--dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    position: relative;
  }
  .group-2 {
    position: absolute;
    inset: 0;
  }
  .rectangle-1 {
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    position: absolute;
    left: 135px;
    top: 146px;
    object-fit: cover;
  }
  .rectangle-2 {
    background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    );
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    position: absolute;
    left: 135px;
    top: 146px;
  }
  .group-3 {
    width: 800px;
    height: 288px;
    position: static;
  }
  .group-4 {
    width: 676px;
    height: 156px;
    position: static;
  }
  .explore-your-travel {
    color: #ffffff;
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    position: absolute;
    left: 422px;
    top: 252px;
  }
  .dolor-1{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    position: absolute;
    left: 382px;
    top: 356px;
    width: 676px;
  }
  .frame-1 {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 400px);
    top: 456px;
  }
  .group-5 {
    flex-shrink: 0;
    width: 174px;
    height: 52px;
    position: static;
  }
  .rectangle-3 {
    background: #ffffff;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    position: absolute;
    left: 16px;
    top: 16px;
  }
  .where-go {
    color: rgba(19, 19, 24, 0.5);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 32px;
    top: 32px;
  }
  .group-6 {
    flex-shrink: 0;
    width: 174px;
    height: 52px;
    position: static;
  }
  .group-7 {
    width: 174px;
    height: 52px;
    position: static;
  }
  .rectangle-4 {
    background: #ffffff;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    position: absolute;
    left: 214px;
    top: 16px;
  }
  .when {
    color: rgba(19, 19, 24, 0.5);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 229px;
    top: 32px;
  }
  .frame {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 349px;
    top: 54px;
    transform: translate(0px, -24px);
    overflow: visible;
  }
  .group-8 {
    flex-shrink: 0;
    width: 174px;
    height: 52px;
    position: static;
  }
  .rectangle-5 {
    background: #ffffff;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    position: absolute;
    left: 412px;
    top: 16px;
  }
  .select-type {
    color: rgba(19, 19, 24, 0.5);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 427px;
    top: 32px;
  }
  .frame2 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 547px;
    top: 54px;
    transform: translate(0px, -24px);
    overflow: visible;
  }
  .group-9 {
    flex-shrink: 0;
    width: 174px;
    height: 52px;
    position: static;
  }
  .rectangle-6 {
    background: #ff5400;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    position: absolute;
    left: 610px;
    top: 16px;
  }
  .group-10 {
    width: 105px;
    height: 24px;
    position: static;
  }
  .find-now {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    left: 677px;
    top: 32px;
  }
  .frame3 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 645px;
    top: 30px;
    overflow: visible;
  }






  
  .group-11 {
    position: absolute;
    inset: 0;
  }
  .our-popular-tours {
    color: #131318;
    text-align: center;
    font-family: "Mulish-ExtraBold", sans-serif;
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    left: 135px;
    top: 746px;
  }
  .dolor-2{
    color: rgba(19, 19, 24, 0.7);
    text-align: left;
    font-family: "Mulish-Regular", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    position: absolute;
    left: 135px;
    top: 820px;
    width: 577px;
  }
  .group-12 {
    width: 525px;
    height: 188px;
    position: static;
  }
  .text-1{
    color: rgba(19, 19, 24, 0.7);
    text-align: left;
    font-family: "Mulish-Regular", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    position: absolute;
    left: 135px;
    top: 896px;
    width: 525px;
  }
  .text-2{
    color: rgba(19, 19, 24, 0.7);
    text-align: left;
    font-family: "Mulish-Regular", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    position: absolute;
    left: 135px;
    top: 964px;
    width: 525px;
  }
  .text-3{
    color: rgba(19, 19, 24, 0.7);
    text-align: left;
    font-family: "Mulish-Regular", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    position: absolute;
    left: 135px;
    top: 1032px;
    width: 525px;
  }
  .text-4{
    color: #5a5a5d;
    text-align: left;
    font-family: "Mulish-Regular", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    position: absolute;
    left: 135px;
    top: 1108px;
    width: 530px;
  }
  .rectangle-4 {
    border-radius: 16px;
    width: 540px;
    height: 550px;
    position: absolute;
    left: 765px;
    top: 746px;
    object-fit: cover;
  }
  .group-13 {
    position: absolute;
    inset: 0;
  }
  .rectangle-35 {
    background: #ff5400;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    position: absolute;
    left: 135px;
    top: 1244px;
  }
  .group-14 {
    width: 105px;
    height: 25px;
    position: static;
  }
  .read-more {
    color: #ffffff;
    text-align: center;
    font-family: "Mulish-ExtraBold", sans-serif;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    left: 170px;
    top: 1258px;
  }
  .group-15 {
    position: absolute;
    inset: 0;
  }
  .group-16 {
    width: 643px;
    height: 126px;
    position: static;
  }
  .choose-your-destination {
    color: #131318;
    text-align: center;
    font-family: "Mulish-ExtraBold", sans-serif;
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    left: 480px;
    top: 1396px;
  }
  .dolor-sit-amet-consectetur-diam-volutpat-neque-habitasse-pharetra-odio-sit-massa-sodales-dictumst-nec-nibh-pellentesque2 {
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-family: "Mulish-Regular", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    position: absolute;
    left: 398px;
    top: 1470px;
    width: 643px;
  }




  .rectangle-5 {
    background: linear-gradient(
      to left,
      rgba(19, 19, 24, 0.2),
      rgba(19, 19, 24, 0.2)
    );
    border-radius: 16px;
    width: 573px;
    height: 300px;
    position: absolute;
    left: 135px;
    top: 1570px;
    object-fit: cover;
  }
  .rectangle-10 {
    background: linear-gradient(
      to left,
      rgba(19, 19, 24, 0.2),
      rgba(19, 19, 24, 0.2)
    );
    border-radius: 16px;
    width: 673px;
    height: 300px;
    position: absolute;
    left: 632px;
    top: 2204px;
    object-fit: cover;
  }
  .rectangle-8 {
    width: 573px;
    height: 300px;
    position: absolute;
    left: 732px;
    top: 1570px;
    overflow: visible;
    object-fit: cover;
  }
  .rectangle-6 {
    background: linear-gradient(
      to left,
      rgba(19, 19, 24, 0.2),
      rgba(19, 19, 24, 0.2)
    );
    border-radius: 16px;
    width: 374px;
    height: 286px;
    position: absolute;
    left: 135px;
    top: 1894px;
    object-fit: cover;
  }
  .rectangle-11 {
    background: linear-gradient(
      to left,
      rgba(19, 19, 24, 0.2),
      rgba(19, 19, 24, 0.2)
    );
    border-radius: 16px;
    width: 473px;
    height: 300px;
    position: absolute;
    left: 135px;
    top: 2204px;
    object-fit: cover;
  }
  .rectangle-9 {
    background: linear-gradient(
      to left,
      rgba(19, 19, 24, 0.2),
      rgba(19, 19, 24, 0.2)
    );
    border-radius: 16px;
    width: 274px;
    height: 286px;
    position: absolute;
    left: 1031px;
    top: 1894px;
    object-fit: cover;
  }
  .rectangle-7 {
    background: linear-gradient(
      to left,
      rgba(19, 19, 24, 0.2),
      rgba(19, 19, 24, 0.2)
    );
    border-radius: 16px;
    width: 474px;
    height: 286px;
    position: absolute;
    left: 533px;
    top: 1894px;
    object-fit: cover;
  }


  .group-20 {
    position: absolute;
    inset: 0;
  }
  .why-choose-us {
    color: #131318;
    text-align: center;
    font-family: "Mulish-ExtraBold", sans-serif;
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    left: 566px;
    top: 2604px;
  }
  .dolor-sit-amet-consectetur-diam-volutpat-neque-habitasse-pharetra-odio-sit-massa-sodales-dictumst-nec-nibh-pellentesque3 {
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-family: "Mulish-Regular", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    position: absolute;
    left: 398px;
    top: 2678px;
    width: 643px;
  }
  




  